################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Coding Interview/Coding Interview.VC.db
/Coding Interview/Coding Interview.VC.VC.opendb
/Coding Interview/Debug/*
/Coding Interview/Coding Interview/Debug/*
/Coding Interview/.vs/*